<br><br>
<br><br>

<div class="row">
  <div class="col-md-12 offset-md-3">
    <div class="form-inline">
      <input class="form-control" type="text" placeholder="Artists Name" [(ngModel)]="artist" (keyup.enter)="searchArtists(artist); artist=''">
      <button style="margin-left: 0.75em;" (click)="searchArtists(artist); artist=''" type="button" class="btn btn-outline-primary">Search</button>
    </div>
  </div>
</div>
<br><br>

<div class="row">
  <div *ngIf="error_text" class="alert alert-danger" role="alert">
    <strong>{{error_text}}</strong>
  </div>
  <div class="card-columns">
    <div class="card" *ngFor="let artista of results">
      <div class="container" *ngIf="artista.images[0]">
        <img [src]="artista.images[0].url" class="img-thumbnail">
      </div>
      <div class="card-block">
        <h4>{{artista.name}}</h4>
        <hr>
        <b>Géneros:</b>
        <span *ngFor="let genero of artista.genres; let i=index;">
        <span *ngIf="i < artista.genres.length-1">{{genero}},&nbsp;</span>
        <span *ngIf="i == artista.genres.length-1">{{genero}}</span>
        </span>
        <br/><br/>
        <p class="card-text">
          <b>Seguidores:</b> {{artista.followers.total}}
        </p>
        <hr>
        <button type="button" class="btn btn-block btn-outline-primary">
          <i class="fa fa-info-circle"></i>&nbsp;Info
        </button>
      </div>
    </div>
  </div>


  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="box text-center">
          <img src="{{selectedUser?.avatar_url}}" class="img-responsive img-circle">
          <div class="details">
            <div *ngIf="selectedUser?.html_url"><a href="{{ selectedUser.html_url }}" target="_blank"><h3>{{ selectedUser.html_url }} </h3></a></div>
            <hr>
            <div *ngIf="selectedUser?.email">Email: {{ selectedUser.email }}</div>
            <hr>
            <div *ngIf="selectedUser?.location">Location: {{ selectedUser.location }}</div>
            <hr>
            <div *ngIf="selectedUser?.bio">Bio: {{ selectedUser.bio }}</div>
            <hr>
            <div *ngIf="selectedUser?.updated_at">Last Seen: {{ selectedUser.updated_at | date }}</div>
            <hr>
            <div *ngIf="selectedUser?.public_repos">Repos: {{ selectedUser.public_repos }}</div>
            <hr>
            <div *ngIf="selectedUser?.public_gists">Gists: {{ selectedUser.public_gists }}</div>
            <hr>
            <div *ngIf="selectedUser?.followers">Followers: {{ selectedUser.followers }}</div>
            <hr>
            <div *ngIf="selectedUser?.created_at">Joined github: {{ selectedUser.created_at | date }}</div>
            <hr>
            <button class="btn btn-sm btn-warning" (click)="selected = !selected;">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
